// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    body {
        height: 100vh;
    }
    
    header {
        @include grid-clmn(138px 1fr, 0px 20px);
        position: relative;
        padding: 30px 50px;
        background-color: transparent;
        box-shadow: none;

        h1 {
            @include font50;
        }

        p {
            @include font20;
        }

        img {
            height: 138px;
            width: 138px;
        }

        button {
            top: 30px;
            right: 50px;
            font-size: 50px;
        }
    }

    .world {
        top: 20px + 6px;
        right: 40px + 80px;
        font-size: 50px;
    }

    main {
        @include flex(row, 0px);
        overflow-x: auto;
        padding: 0px 50px 50px 50px;
        margin-top: -20px;

        // Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func
        &::-webkit-scrollbar {
            display: none;
        }
    }

    article {
        margin: 30px;
        height: fit-content;

        img {
            width: 240px;
        }
    }

    nav {
        position: absolute;
        bottom: 30px;
        left: 50px;
        padding: 0px;
        background-color: transparent;
        box-shadow: none;
    }

    @keyframes go-right {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(20px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .arrow {
        right: 40px;
        bottom: 50px;
        
        i {
            transform: rotate(0deg);
        }
    }

    .b-world {
        
        header {
            @include grid-clmn(50px max-content 1fr, 50px);

            a {
                font-size: 50px;
            }

            h1 {
                @include font59;
            }
        }
    }

    .zero-state {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;

        section {
            padding: 50px;
            width: 700px;
        }
    }

    .zero-img {
        width: 550px;
        height: 400px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}