@import "./variables";
@import "./header";
@import "./album";
@import "./nav";
@import "./breakpoints";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: $font-stack;
    background: $background-day;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

@keyframes go-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.arrow {
    position: absolute;
    right: 50px;
    bottom: 30px;
    border: none;
    background-color: transparent;
    font-size: 50px;
    color: $black;
    z-index: 1;

    animation-name: go-right, fade-out;
    animation-duration: 2s, 2s;
    animation-iteration-count: 3, 1;
    animation-delay: 0s, 3s;
    animation-fill-mode: none, forwards;  
}

.dark-mode {
    background: $background-night;
    color: $pink;

    .arrow {
        color: $blue;
    }

    header {
        button {
            color: $pink;
        }
    }
}

.card {
    opacity: 0;
}

.card.show {
    opacity: 1;
}