.b-world {
    header {
        @include grid-clmn(30px 250px 1fr, 20px);

        a {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: $black;
            transition: .4s;

            &:hover {
                color: $pink
            }
        }

        h1 {
            @include font26;
        }
    }

    main {
        position: relative;
        display: block;
        height: 100vh;
    }
}

.map-data {
    position: absolute;
    width: 1300px;
    height: 649.4802px;
}

.svg-map {
    width: 1300px;
    height: 649.4802px;
}

.st0{
    fill: $black;
}

.st1{
    fill: $pruple-light;
}

.m-map {
    padding: 20px;

    h2 {
        @include font34;
        text-align: center;
    }

    img {
        margin-top: 50px;
        border-radius: 20px;
    }
}

.tooltip {
    position: absolute;
    padding: 20px;
    width: fit-content;
    background-color: $red;
    border-radius: 20px;
    box-shadow: $shadow-10-10;
    color: $white;
    opacity: 0;

    h2 {
        @include font24;
    }

    p {
        @include font18;
        margin-top: -5px;
    }
}

.hover {   
    background-color: $red;

}