.b-world {
    header {
        @include grid-clmn(30px 250px 1fr, 20px);

        a {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: $black;
            transition: .4s;

            &:hover {
                color: $pink
            }
        }

        h1 {
            @include font26;
        }
    }

    main {
        position: relative;
        display: block;
        margin-top: 50px;
    }
}

.map-data {
    position: absolute;
}

.svg-map {
    
}

.st0{
    fill: $black;
}

.st1{
    fill: $pruple-light;
}