.zero-state {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 20px 0px 20px;
    background-color: rgba($black, 0.5);
    z-index: 1;

    section {
        padding: 160px 20px 100px 20px;
        margin: -110px -20px 0px -20px;
        border-radius: 20px;
        background-color: $white;
        box-shadow: $shadow-10-10;

        button {
            @include font18;
            font-family: $font-stack;
            padding: 28px 0px;
            width: 100%;
            margin-top: 50px;
            background-color: $blue;
            border: 1px solid $blue;
            border-radius: 20px;
            font-weight: bold;
            color: $white;
            transition: .4s;
            cursor: pointer;
    
            &:hover {
                color: $blue;
                background-color: transparent;
            }
        }
    }

    h4 {
        @include font50;
    }

    p {
        @include font18;
        margin: 10px 0px;
    }

    div {
        position: relative;
    }

    .play {
        bottom: 20px;
        right: 20px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
        }
    }
}

.zero-img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: $shadow-10-10;
}

audio {
    display: none;
}